.table-container {
  & .simple-table {
    & .simple-table-head {
      background-color: rgba(63, 81, 181, 0.7);
      & .MuiTableCell-head {
        color: white;
        font-weight: bold;
      }
    }
    & .simple-table-row {
      tr{
        &:nth-child(odd) {
          background-color: rgba(63, 81, 181, 0.04);
        }
        &.selected-row {
          background-color: rgba(63, 81, 181, 0.2);
          &:hover {
            background-color: rgba(63, 81, 181, 0.3);
          }
        }
        &:hover {
          background-color: rgba(63, 81, 181, 0.1);
        }
      }
    }
  }
}